body
{
	margin: 0;
	padding: 0;
	overflow: hidden;	/* prevent scrolling */
	user-select: none;	/* prevent text selection while dragging */
}

#game-board
{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #303030;
}

#toxic-river
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(150, 255, 150);
	pointer-events: none;
}

#hospital
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(255, 161, 161);
	pointer-events: none;
}

#creets-container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;	/* can't grab */
}

.creet
{
	position: absolute;
	border-radius: 50%;		/* round shape */
	transform: translate(-50%, -50%);
	pointer-events: auto;	/* can grab */
	cursor: grab;
	transition: width 0.1s, height 0.1s, background-color 0.2s;
}

.creet:active
{
	cursor: grabbing;
}

.healthy
{
	background-color: #4CAF50;
}

.sick
{
	background-color: #FFC107;
}

.berserk
{
	background-color: #F44336;
	cursor: not-allowed;
}

.mean
{
	background-color: #9C27B0;
	cursor: not-allowed;
}

#game-over
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	color: #ffffff;
	z-index: 1000;
}
